<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>

<section>
  <div class="head">
    <p>About Me</p>
    <p>Iyan Zuli Armanda</p>
  </div>
  <div class="main">
    <div class="main-top">
      <div class="left">
        <p>
          Hi, I'm <span>Iyan Zuli Armanda</span>, a passionate aspiring web and game developer currently studying Informatics Engineering at <span>Universitas Negeri Surabaya</span>.
          Since diving into the world of technology, I've developed a strong interest in both web development and game development, and I'm continuously honing my skills in these areas.
        </p>
        <p>
          I have experience working with various technologies, including Python, JavaScript, C++, C# (Unity), and Java, along with frameworks like React, Tailwind, Bootstrap, MongoDB, MySQL, Express, EJS, Adonis, Nest,  Godot, Construct and Unreal Engine.        </p>
        <p>
          My goal is to create engaging and user-friendly web applications, as well as immersive games that leave a lasting impression.
          I'm always eager to learn new technologies, explore creative ideas, and take on challenging projects that push the boundaries of my capabilities.
        </p>
      </div>
      <div class="right">
        <img src="/images/kucing.png">
      </div>
    </div>
    <div class="main-bottom">
      <p>
        Beyond coding, I enjoy reading, writing, listening to music, playing games, and staying active with sports.
        These hobbies help keep me inspired and motivated in my creative work.
      </p>
      <p>
        Let's connect and talk about collaboration opportunities or other interesting discussions!
      </p>
    </div>
  </div>

  <%- include('partials/zoom.ejs') %>

  <%- include('partials/subFoot.ejs') %>

</section>


<%- include('partials/foot.ejs') %>

<%- include('partials/footer.ejs') %>