<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>

<section>
  <div class="head">
    <p>Certificates</p>
    <p>My Certificates</p>
    <p>Below are some of the certificates I've earned throughout my journey in web development, game creation, and beyond.
      Each of these represents a step forward in my learning and professional growth.
    </p>
  </div>
  <div class="main">
    <div class="certif">
      <h1>Alibaba Cloud</h1>
      <div class="space-x-4">
        <img src="/images/certificates/AlibabaCloudCertification.jpg" class="w-64 h-64 object-cover">
      </div>
    </div>
    <div class="certif">
      <h1>Devhandal - CodePolitan</h1>
      <div class="space-x-4">
        <img src="/images/certificates/devhandal(0).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(1).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(2).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(3).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(4).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(5).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(6).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(7).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(8).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(9).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(10).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(11).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(12).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(13).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(14).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(15).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(16).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(17).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(18).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(19).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(20).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(21).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(22).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(23).jpg" class="w-64 h-64 object-cover">
        <img src="/images/certificates/devhandal(24).jpg" class="w-64 h-64 object-cover">
      </div>
    </div>
  </div>
    
  <%- include('partials/subFoot.ejs') %>

  <%- include('partials/zoom.ejs') %>

</section>

<%- include('partials/foot.ejs') %>

<%- include('partials/footer.ejs') %>
