<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>

<section>
  <div class="head">
    <p>Education</p>
    <p>My Background Education</p>
    <p>Here, you'll find almost all showcase of the my educations right now or past. 
      From Middle School, High School, and College.
      Take a look and see where I've going before!</p>
  </div>
  <div class="main">
    <p class="newest">Newest</p>
    <div class="education">
      <div class="right">
        <a href="https://unesa.ac.id/" target="_blank">Universitas Negeri Surabaya <span><img src="/images/education/unesaLogo.png"></span></a>
        <p>Currently I am studying at Unesa, faculty of engineering, undergraduate study program one informatics engineering. 
          I entered college in 2023, a fresh graduate from SMANMT Bojonegoro.</p>
        <p>The reason I chose Unesa is because of the easy access to education. 
          By studying informatics at unesa, I hope I can deepen my skills in the fields of web development, game development, and other important or interesting skills.</p>
        <p>2023 - now/soon, </p>
      </div>
      <div class="left">
        <img src="/images/education/unesaKetintang.jpg">
      </div>
    </div>
    <div class="education">
      <div class="right">
        <a href="https://smanmt.sch.id/" target="_blank">SMAN Model Terpadu Bojonegoro <span><img src="/images/education/smanmtLogo.png"></span></a>
        <p>I attended high school at SMANMT Bojonegoro, entering through the zoning system, which ensured local access to education.
          My time there was a unique blend of in-person and online learning due to pandemic, providing me with a flexible approach to studies and self-discipline in adapting to hybrid learning methods.</p>
        <p></p>
        <p>2020 - 2023</p>
      </div>
      <div class="left">
        <img src="/images/education/smanmt.png">
      </div>
    </div>
    <div class="education">
      <div class="right">
        <a href="https://smpn1bojonegoro.sch.id/" target="_blank">SMPN Satu Bojonegoro <span><img src="/images/education/smpn1Logo.png"></span></a>
        <p>During my time in middle school, I was actively engaged both in academics and in school organizations.
          This period allowed me to build a strong foundation in learning while also developing teamwork, leadership, and organizational skills through various extracurricular activities.</p>
        <p>I engaged in activities like sports clubs, the National Science Olympiad (OSN), and the Youth Scientific Group (KIR), which developed my discipline, scientific curiosity, and research skills.
          As a Red Cross Youth (PMR) member, I gained valuable experience in teamwork and leadership.</p>
        <p>2017 - 2020</p>
        </div>
        <div class="left">
          <img src="/images/education/smpn1.jpg">
        </div>
    </div>
  </div>

  <%- include('partials/subFoot.ejs') %>

  <%- include('partials/zoom.ejs') %>

</section>

<%- include('partials/foot.ejs') %>

<%- include('partials/footer.ejs') %>